/* div {
    border-left: 1px white solid;
    border-right: 1px white solid;
    border-bottom:1px white solid;
} */
  
/* General Stuff */
  
.center-block {
    display:inline-block;
    white-space:nowrap;
}

.center-flex {
    display:inline-flex;
    white-space:nowrap;
    align-items:center;
    align-content: center;
    margin: auto;
    height:100%;
}

.padding-sides {
margin-left:5px;
margin-right:5px;
}

.headline {
font-size: 40px;
}

.headline-description {
font-weight:100;
font-size: 28px;
text-wrap:wrap;
}

.header {
font-size: 30px;
}

.subheader {
font-size: 24px;
}

.half-screen {
width:35vw;
}

.image {
display:block;
max-width:100%;
max-height:100%;
}

.Section {
    margin: 0% 10% 0% 10%;
    height: 50vh;
}

.Section-Break {
    line-height: 200%;
}

.unselectable {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
