/* Phone */


/* Desktop */
@media only screen and (min-width: 768px) {
    .Science {

    }

    .LeftScience {

    }

    .Tab {
        list-style-type: square;
        color: white;

        -webkit-user-select: none; /* Safari */        
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+/Edge */
        user-select: none; /* Standard */
    }
    .Tab::marker {
        color: white;
    }
}